.register-section {
    padding: 40px 20px;
    font-family: var(--primary-font);
}
.register-form {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    background: rgb(232, 232, 141);
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group label {
    font-weight: bold;
    color: var(--dark-gray);
    font-size: var(--text-size);
}
.form-group input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-style: italic;
}
.register-button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--white);
    font-weight: bold;
    background: -webkit-linear-gradient(90deg, #1c549d,#198a97,#7aa711);                                             
}
.error {
    color: rgb(214, 26, 26);
    font-size: var(--sm-text-size);
    font-weight: bold;
}