:root {
    --primary-color: #59b756;
    --secondary-color: #20547f;
    --gray: #d6d7db;
    --dark-gray: #433c3c;
    --black: #24292b;
    --white: #ebf1f3;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --heading-size: 2.8rem;
    --text-size: 1.4rem;
    --sm-text-size: .8rem;
    --sub-heading-size: 2rem;
}
.body {
    background: #e6ebed;
}
/*Appointment view*/
.appointment-section {
    position: relative;
    background: #dfe0e8;
    min-height: 100vh;
}
.appointment-table {
    font-family: var(--primary-font);
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.appointment-table-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 7px;
    background: var(--dark-gray);
    color: var(--white);
}
.appointment-table-body {
    background-color: #efffed;
}
.appointment-schedule-button {
    position: absolute;
    top: 5px;
    right: 20px;
    font-family: var(--primary-font);
    background: var(--secondary-color);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
    font-size: var(--sm-text-size);
    cursor: pointer;
}
.appointment-schedule-button:hover {
    background: #425d75;
}
.plus-icon {
    color: var(--white);
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;   
}