.card-service {
    width: 25%;
    max-width: 220px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.card-service-container {
    height: 250px;
    display: flex;
    flex-direction: column;
}
.card-service-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.card-service-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background: #fcfcfc;
}
.card-service-image-container {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background: white;
}
.card-service-image {
    width: 100%;
    height: 100%;
    transform: translateY(2px);
}
.card-service-cardiology {
    background: hsl(0, 100%, 81%);
}
.card-service-orthodontics{
    background: hsl(195, 100%, 84%);
}
.card-service-pediatrics {
    background: hsl(37, 100%, 82%);
}
.card-service-title {
    font-size: var(--sub-heading-size);
}
.card-service-dermatology {
    background: hsl(139, 98%, 84%);
}
.card-service-description {
    font-family: var(--primary-font);
    color: #5b5858;
    font-weight: bold;
    font-size: var(--sm-text-size);
}
